<%- include('../partials/header'); %>
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Dados de Usuário</h2>
        </div>
        <div class="card-body ">
            <div class="row cntr-r">
                <div class="col-md-3 mb-2 cntr">
                    <img class="img-fluid rounded-start" src="/img/<%= user.img %>" alt="">
                </div>
            </div>
            <div class="row cntr-r">
                <div class="col-md-10">
                    <h4>Nome</h4>
                    <p><%= user.nome %> <%= user.sobrenome %></p>
                </div>
            </div>
            <div class="row cntr-r">
                <div class="col col-md-5">
                    <h4>Documento de Identidade</h4>
                    <p><%= user.identidade %></p>
                </div>
                <div class="col col-md-3">
                    <h4>Orgão Emissor</h4>
                    <p><%= user.orgEmissor %></p>
                </div>
                <div class="col col-md-2">
                    <h4>UF</h4>
                    <p><%= user.uf %></p>
                </div>
            </div>  
            <div class="row cntr-r">
                <div class="col-md-5">
                    <h4>CPF</h4>
                    <p><%= user.cpf %></p>
                </div>
                 <div class="col-md-5">
                     <h4>Data de Nascimento</h4>
                     <p><%= new Date(user.dtNascimento).toLocaleDateString() %></p>
                </div>   
            </div>           
            <div class="row cntr-r">
                <div class="col-md-5">
                    <h4>Nome do Pai</h4>
                    <p><%= user.nomePai %></p>
                </div>
                <div class="col-md-5">
                    <h4>Nome da Mãe</h4>
                    <p><%= user.nomeMae %></p>
                </div>
            </div>
            <div class="row cntr-r">
                <div class="col-md-5">
                    <h4>Permissão</h4>
                    <p><%= user.permissao %></p>
                </div>
                <div class="col-md-5">
                    <h4>ACC</h4>
                    <p><%= user.acc %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>